body {
    background-repeat: no-repeat;
    background-size: 2046px;

    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.btn-outline-light-transparent {
    background-color: rgba(211,211,211,0.3);
    color: rgba(255,255,255,0.8);
}

.vertical-align-middle {
    margin-left: 2px;
    vertical-align: middle;
}

.padding-bottom-3 {
    padding-bottom: 3px;
}

.left-nav {
    height: 1080px;
    background-color: rgba(83, 82, 90,0.5);
    backdrop-filter: blur(3px);
}

.btn-left-nav {
    margin-right: 5px;
    text-align: start;
    margin-top: 20px;
    width: auto;

}

.btn-transparent {
    border: none;
    color: white;
}

.btn-transparent:active {
    color: white;
    border: none;
}

.btn-transparent:hover {
    color: white;
    border: none;
}

.icon-projekte {
    color: white;
    margin-top: 55px;
    align-content: start;
    margin-left: 20px;
}

.left-dropdown {
    margin-top: 50px;
}

.project {
    margin-top: 10px;
}

.project-name {
    color: white;
    margin-left: 10px;
}

.project-logo-small {
    margin-top: 2px;
    width: 30px;
    height: 30px;
    margin-left: 10px;

}

.left-project {
    margin-top: 20px;
}
