<div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Amezia</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                        <li class="breadcrumb-item active">Starter</li>
                    </ol>
                </div>
                <h4 class="page-title">Startseite</h4>
            </div>
        </div>
    </div>
    <!-- end page title end breadcrumb -->

    <div class="row" *ngIf="!loaded">
        <div class="col-md-6 col-lg-6">
            <div class="container">
                <div class="row d-flex justify-content-center px-3">
                    <div class="card-weather">
                        <i class="fas fa-cog icon"></i>
                        <h2 class="ml-auto mr-4 mt-3 mb-0 med-font" >{{weather.name}}</h2>
                        <p class="ml-auto mr-4 mb-0 med-font">{{weather.weather[0].main}}</p>
                        <h1 class="ml-auto mr-4 large-font">{{getWeatherRounded(weather.main.temp)}}°C</h1>
                        <p class="time-font mb-0 ml-4 mt-auto">{{time.currentTime}} <span class="sm-font">AM</span></p>
                        <p class="ml-4 mb-4">{{time.currentDate}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h3>TODO:</h3>
        </div>
    </div>


</div><!-- container -->



