.icon {
    align-content: end;
}

.card-weather {
    background-image: url("https://i.imgur.com/dpqZJV5.jpg");
    background-size: cover;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 4px #9E9E9E;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

.time-font {
    text-align: center;
    font-size: 50px
}

.sm-font {
    font-size: 18px
}

.med-font {
    text-align: right;
    font-size: 28px
}

.large-font {
    text-align: right;
    font-size: 60px
}
