<div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Amezia</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                        <li class="breadcrumb-item active">Starter</li>
                    </ol>
                </div>
                <h4 class="page-title">Startseite</h4>
            </div>
        </div>
    </div>
    <!-- end page title end breadcrumb -->

    <div class="row" *ngIf="!loaded">
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="mt-0">Wetter</h5>
                    <div class="row">
                        <div class="col">
                            Cityname: {{this.weather.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div><!-- container -->



